.idea

node_modules

.DS_Store
npm-debug.log

cache

web/assets
/nbproject/private/

nbproject
/composer.lock

/config/config.yml
/web/assets/img/upload
/web/avatar
teams
src/assets/scss/sport-icons.scss
/src/assets/js/locale.js
/app/logo_teams
/bower_modules
/vendor
